<%= form_with(model: class_room, local: true) do |form| %>
  <% if class_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_room.errors.count, "error") %> prohibited this class_room from being saved:</h2>

      <ul>
      <% class_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :class_room_company_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :class_room_name %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :class_room_size %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :class_room_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
