<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @teacher.company %>
</p>

<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @teacher.mobile_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @teacher.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @teacher.end_date %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @teacher.birth_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @teacher.active %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @teacher.contractor %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
